// size
$main-size: 500px;

// fonts
$font-path: '~src/assets/fonts';
$font-family-primary: 'Helvetica Neue';
$font-family-secondary: 'Arial';

// colors
$color-light: #fff;
$color-dark: #222;
$color-border: #f2f2f2;